# Data Sciences and Finance

## Introduction

#### This document is dedicated to explain how data sciences knowldge canbe applied to area of finance.

## Data Science Langauges
#### Following are some of the important data sciences languages:
| Sr | Language |
| --------| ------ |
| 1 | Python |
| 2 | SQL |
| 3 | Java|
| 4 | Julia|
| 5 | MATLAB|
| 6 | C++|

In [1]:
# Data Science Libraries
#### Following are some of the important libraries normally used by professional:
|Sr | Title of Library|
| 1 | TensorFlow|
| 2 | NumPy|
| 3 | SciPy|
| 4 | Pandas|
| 5 | Keras|
| 6 | PyTorch|

SyntaxError: invalid syntax (1023131036.py, line 3)

# Data Science Libraries
#### Following are some of the important libraries normally used by professional:
|Sr | Title of Library|
| 1 | TensorFlow|
| 2 | NumPy|
| 3 | SciPy|
| 4 | Pandas|
| 5 | Keras|
| 6 | PyTorch|

# Data Science Libraries
#### Following are some of the important libraries normally used by professional:
|Sr | Title of Library|
|---|--------------|
| 1 | TensorFlow|
| 2 | NumPy|
| 3 | SciPy|
| 4 | Pandas|
| 5 | Keras|
| 6 | PyTorch|

# Data Science Tools
#### Following are few most important data science tools:
|Sr | Title of Library|
|---| ----------------|
| 1 | Apache Spark|
| 2 | IBM SPSS|
| 3 | Excel|
| 4 | POWER BI|
| 5 | Matplotlib|
| 6 | SAS|

# Introducing Arithmatic Expression

In [2]:
145+255

400

In [3]:
25*85

2125

# Creating Code Cell to multiply and add numbers

In [7]:
X=100
Y=50
Z=2*X+Y
print(Z)

250

# Converting minutes into hour

In [8]:
time=float(input("Enter time in minutes:    "))
hour=float(time/60)
print(hour)

Enter time in minutes:    362
6.033333333333333

# Objectives

1. First objective of this document is to show that data science is equally applicable to finance.
2. Second objective is to inform thta data analysis is extremly important subject.

# Author's Name
#### The document is prepared by Syed Kashif Saeed